WS_Adobe_Gen/Web References/konverze_DA/konverze_DA.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:intf="http://adobe.com/idp/services" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:impl="http://adobe.com/idp/services" targetNamespace="http://adobe.com/idp/services" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://adobe.com/idp/services">
      <xsd:import namespace="http://xml.apache.org/xml-soap" />
      <xsd:element name="invoke">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="docIN_form" type="impl:BLOB" />
            <xsd:element minOccurs="0" maxOccurs="1" name="docIN_orig" type="impl:BLOB" />
            <xsd:element minOccurs="0" maxOccurs="1" name="text_1" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="text_2" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="text_3" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="tisk_prosty" type="xsd:int" />
            <xsd:element minOccurs="0" maxOccurs="1" name="typ" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="BLOB">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="contentType" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="binaryData" type="xsd:base64Binary" />
          <xsd:element minOccurs="0" maxOccurs="1" name="attachmentID" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="remoteURL" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="invokeResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="A_result" type="impl:AssemblerResult" />
            <xsd:element name="StatusKod" type="xsd:string" />
            <xsd:element name="StatusText" type="xsd:string" />
            <xsd:element name="docOUT" type="impl:BLOB" />
            <xsd:element name="muj_vystup" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="MyArrayOf_xsd_anyType">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="xsd:anyType" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="AssemblerResult">
        <xsd:sequence>
          <xsd:element name="documents" nillable="true" type="apachesoap:Map" />
          <xsd:element name="failedBlockNames" nillable="true" type="impl:MyArrayOf_xsd_anyType" />
          <xsd:element name="jobLog" nillable="true" type="impl:BLOB" />
          <xsd:element name="multipleResultsBlocks" nillable="true" type="apachesoap:Map" />
          <xsd:element name="numRequestedBlocks" type="xsd:int" />
          <xsd:element name="successfulBlockNames" nillable="true" type="impl:MyArrayOf_xsd_anyType" />
          <xsd:element name="successfulDocumentNames" nillable="true" type="impl:MyArrayOf_xsd_anyType" />
          <xsd:element name="throwables" nillable="true" type="apachesoap:Map" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="FormInstanceBase">
        <xsd:sequence>
          <xsd:element name="XFAData" nillable="true" type="xsd:base64Binary" />
          <xsd:element name="actionList" nillable="true" type="impl:MyArrayOf_xsd_anyType" />
          <xsd:element name="hardenedTemplatePath" nillable="true" type="xsd:string" />
          <xsd:element name="selectedAction" nillable="true" type="xsd:string" />
          <xsd:element name="templatePath" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="FormDataTypeInstance">
        <xsd:complexContent mixed="false">
          <xsd:extension base="impl:FormInstanceBase">
            <xsd:sequence />
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="SetValueMapping">
        <xsd:sequence>
          <xsd:element name="locationExpr" nillable="true" type="xsd:string" />
          <xsd:element name="valueExpr" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://xml.apache.org/xml-soap">
      <xsd:import namespace="http://adobe.com/idp/services" />
      <xsd:complexType name="mapItem">
        <xsd:sequence>
          <xsd:element name="key" nillable="true" type="xsd:anyType" />
          <xsd:element name="value" nillable="true" type="xsd:anyType" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Map">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="apachesoap:mapItem" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Vector">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="xsd:anyType" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="invokeRequest">
    <wsdl:part name="parameters" element="impl:invoke" />
  </wsdl:message>
  <wsdl:message name="invokeResponse">
    <wsdl:part name="parameters" element="impl:invokeResponse" />
  </wsdl:message>
  <wsdl:portType name="ETR_konverze_DA">
    <wsdl:operation name="invoke">
      <wsdl:input name="invokeRequest" message="impl:invokeRequest" />
      <wsdl:output name="invokeResponse" message="impl:invokeResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="konverze_DASoapBinding" type="impl:ETR_konverze_DA">
    <wsdlsoap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="invoke">
      <wsdlsoap:operation soapAction="invoke" />
      <wsdl:input name="invokeRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="invokeResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ETR_konverze_DAService">
    <wsdl:port name="konverze_DA" binding="impl:konverze_DASoapBinding">
      <wsdlsoap:address location="http://10.85.32.78:8080/soap/services/ETR/konverze_DA" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>