WS_Adobe_Gen/Web References/etr_konverze_pdfa/etr_konverze_pdfa.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:intf="http://adobe.com/idp/services" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:impl="http://adobe.com/idp/services" targetNamespace="http://adobe.com/idp/services" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://adobe.com/idp/services">
      <xsd:element name="invoke">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="docIN" type="impl:BLOB" />
            <xsd:element minOccurs="0" maxOccurs="1" name="forms" type="xsd:int" />
            <xsd:element minOccurs="0" maxOccurs="1" name="podepsat" type="xsd:int" />
            <xsd:element minOccurs="0" maxOccurs="1" name="podpis_pole" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="razitko" type="impl:TSPOptionSpec" />
            <xsd:element minOccurs="0" maxOccurs="1" name="typ" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="znacka" type="impl:Credential" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="BLOB">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="contentType" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="binaryData" type="xsd:base64Binary" />
          <xsd:element minOccurs="0" maxOccurs="1" name="attachmentID" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="remoteURL" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:simpleType name="HashAlgorithm">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="MD5" />
          <xsd:enumeration value="SHA1" />
          <xsd:enumeration value="SHA256" />
          <xsd:enumeration value="SHA384" />
          <xsd:enumeration value="SHA512" />
          <xsd:enumeration value="RIPEMD160" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="RevocationCheckStyle">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="NoCheck" />
          <xsd:enumeration value="BestEffort" />
          <xsd:enumeration value="CheckIfAvailable" />
          <xsd:enumeration value="AlwaysCheck" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="TSPOptionSpec">
        <xsd:sequence>
          <xsd:element name="tspHashAlgorithm" nillable="true" type="impl:HashAlgorithm" />
          <xsd:element name="tspRevocationCheckStyle" nillable="true" type="impl:RevocationCheckStyle" />
          <xsd:element name="tspSendNonce" type="xsd:boolean" />
          <xsd:element name="tspServerPassword" nillable="true" type="xsd:string" />
          <xsd:element name="tspServerURL" nillable="true" type="xsd:string" />
          <xsd:element name="tspServerUsername" nillable="true" type="xsd:string" />
          <xsd:element name="tspSize" nillable="true" type="xsd:int" />
          <xsd:element name="useExpiredTimestamps" type="xsd:boolean" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Credential">
        <xsd:sequence>
          <xsd:element name="alias" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="invokeResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="StatusKod" type="xsd:string" />
            <xsd:element name="StatusText" type="xsd:string" />
            <xsd:element name="docOUT" type="impl:BLOB" />
            <xsd:element name="isPDF" type="xsd:boolean" />
            <xsd:element name="log" type="impl:BLOB" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="MyArrayOf_xsd_anyType">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="xsd:anyType" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="FormInstanceBase">
        <xsd:sequence>
          <xsd:element name="XFAData" nillable="true" type="xsd:base64Binary" />
          <xsd:element name="actionList" nillable="true" type="impl:MyArrayOf_xsd_anyType" />
          <xsd:element name="hardenedTemplatePath" nillable="true" type="xsd:string" />
          <xsd:element name="selectedAction" nillable="true" type="xsd:string" />
          <xsd:element name="templatePath" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="FormDataTypeInstance">
        <xsd:complexContent mixed="false">
          <xsd:extension base="impl:FormInstanceBase">
            <xsd:sequence />
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="SetValueMapping">
        <xsd:sequence>
          <xsd:element name="locationExpr" nillable="true" type="xsd:string" />
          <xsd:element name="valueExpr" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="invokeRequest">
    <wsdl:part name="parameters" element="impl:invoke" />
  </wsdl:message>
  <wsdl:message name="invokeResponse">
    <wsdl:part name="parameters" element="impl:invokeResponse" />
  </wsdl:message>
  <wsdl:portType name="ETR_etr_konverze_pdfa">
    <wsdl:operation name="invoke">
      <wsdl:input name="invokeRequest" message="impl:invokeRequest" />
      <wsdl:output name="invokeResponse" message="impl:invokeResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="etr_konverze_pdfaSoapBinding" type="impl:ETR_etr_konverze_pdfa">
    <wsdlsoap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="invoke">
      <wsdlsoap:operation soapAction="invoke" />
      <wsdl:input name="invokeRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="invokeResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ETR_etr_konverze_pdfaService">
    <wsdl:port name="etr_konverze_pdfa" binding="impl:etr_konverze_pdfaSoapBinding">
      <wsdlsoap:address location="http://10.85.32.78:8080/soap/services/ETR/etr_konverze_pdfa" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>